@import "tailwindcss";

button{
    cursor: pointer;
}

button:active{
    scale: 0.95;
}

.wash {
    padding: 50px 100px;
    margin-top: 25px;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    border-radius: 20px;
    border: 2px solid white;
}

.Male{
    background-color: rgb(0, 179, 255);
}

.Female{
    background-color: rgb(255, 57, 163);
}

.Others{
    background:conic-gradient(violet, indigo, blue, green, yellow, orange, red, violet);
}