@import "tailwindcss";

input{
    background-color: #020617;
    margin: 10px;
    padding: 5px 10px; 
    border: 2px solid #334155;
    border-radius: 8px;
    color: #e5e7eb;
}

input:focus {
  border-color: rgb(56, 189, 248);     
  outline: none;                     
  box-shadow: 0 0 0 1px rgb(56,189,248);
}

